
body {
    margin: 0;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-family: Helvetica;
}

h1 {
    text-shadow: 0 -3px 0 #999;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 40px 0 0px 0;
    color: #74dc38;
    font-family: 'monsterdicer';
}

h2 {
    text-shadow: 0 -3px 0 #999;
    text-align: center;
    font-size: 40px;
    padding: 0;
    margin: 40px 0 0px 0;
    color: #74dc38;
    font-family: 'monsterdicer';
}

h2 {
    text-shadow: 0 -2px 0 #999;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0px 0 10px 0;
    color: #74dc38;
    font-family: 'monsterdicer';
}

@font-face { 
  font-family: 'monsterdicer';
  src: url("../fonts/head.ttf") format('truetype'); 
}
